<h1>Books</h1>

<% @books.each do |book| %>

<span><%= link_to "show", "/books/#{book.id}" %></span>

<span><%= book.body %></span>


<% end %>


    
    
    
<%= form_with model: @book, url: '/books', method: :post, local:true do |f| %>

<label class="book_title">Title</label>

<%= f.text_field :title %>


<label class="book_body">Body</label>

<%= f.text_area :body %>

<input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">



<% end %>